/* Fonts */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

/* Variables */

:root {
  --color-extra-light-gray: #EEEEEE;
  --color-very-light-gray: #E1E1E1;
  --color-light-gray: #D5D5D5;
  --color-light-grayish-blue: #D7DCDE;
  --color-grayish-blue: #B4B9BB;
  --color-very-bright-gray: #DBDBDB;
  --color-bright-gray: #DFDFDF;
  --color-argent: #C1C1C1;
  --color-dark-gray: #888888;
  --color-very-dark-gray: #666666;
  --color-extra-dark-gray: #444444;
  --color-light-black: #283136;
  --color-black: #000000;
  --color-soft-red: #FB565A;
  --color-bright-red: #E74246;
  --color-moderate-red: #D7373B;
  --color-strong-cyan: #00CA74;
  --color-lime-green: #00BC6C;
  --color-dark-cyan: #00AA62;
  --color-soft-yellow: #EFC849;
  --color-bright-orange: #EAB534;
  --color-vivid-orange: #E5A722;
  --color-white: #FFFFFF;
  --color-white-opacity: rgba(255, 255, 255, 0.3);
  --color-black-opacity: rgba(0, 0, 0, 0.3);
  --color-black-more-opacity: rgba(0, 0, 0, 0.4);;
  --color-transparent-black: rgba(0, 0, 0, 0.0001);
  --color-very-dark-cyan: rgba(0, 1, 1, 0.1);
}

/* Global */

.page {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page-body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--color-light-black);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */

.main-header {
  background-color: var(--color-extra-light-gray);
  }

.main-navigation {
  display: grid;
  grid-template-columns: 160px 1fr min-content;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.main-header-logo {
  margin-top: 48px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  padding-left: 203px;
  margin-top: 75px;
  margin-bottom: 9px;
  list-style: none;
}

.site-navigation-item {
  margin-right: 45px;
}

.current-navigation-item {
  position: relative;
}

.studio.current-navigation-item::after {
  content: "";
  position: absolute;
  bottom: -14px;
  left: 1px;
  width: 61px;
  height: 2px;
  background-color: var(--color-soft-red);
}

.shop.current-navigation-item::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 1px;
  width: 73px;
  height: 2px;
  background-color: var(--color-soft-red);
}

.cart::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart {
  position: relative;
  margin-top: 75px;
  margin-bottom: 9px;
  padding-left: 41px;
}

.site-navigation a,
.cart {
  display: block;
  color: var(--color-black);
}

.site-navigation a:hover,
.cart:hover {
  color: var(--color-soft-red);
}

.site-navigation a:active,
.cart:active {
  opacity: 0.3;
}

.main-header-logo:hover {
  opacity: 0.7;
}

.main-header-logo:active {
  opacity: 0.3;
}

/* Slider */

.slider {
  background-color: var(--color-extra-light-gray);
}

.slider-container {
  position: relative;
}

.slider-list {
  list-style: none;
}

.slider-item {
  display: none;
}

.slider-item-active {
  display: grid;
  grid-template-columns: 397px 760px;
}

.slide-text {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  z-index: 1;
}

.slide-image {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
}

.slide-title {
  width: 538px;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: var(--color-black);
  margin: 0;
  margin-bottom: 26px;
  padding-top: 79px;
}

.slider-item p {
  width: 400px;
  margin: 0;
  margin-bottom: 38px;
}

.slide-button {
  display: block;
  width: 240px;
}

/* Slider buttons */

.slider-buttons {
  position: absolute;
  margin: 0 260px;
  bottom: 96px;
  left: 15px;
  right: 15px;
  z-index: 20;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.slider-button {
  width: 18px;
  height: 18px;
  background-color: var(--color-white);
  border-radius: 50%;
  border: none;
  outline: none;
  margin-right: 17px;
  padding: 0;
  cursor: pointer;
}

.slider-button:nth-last-child(1) {
  margin-right: 0;
}

.active-button {
  position: relative;
}

.active-button::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 8px;
  height: 8px;
  border: 2px solid var(--color-argent);
  border-radius: 50%;
}

/* Second slide and third slide */

.second-slide .slide-title {
  margin-bottom: 37px;
}

.second-slide p {
  width: 416px;
  margin-bottom: 27px;
}

.third-slide .slide-title {
  margin-bottom: 38px;
}

.third-slide p {
  width: 416px;
  margin-bottom: 26px;
}

/* Button */

.button {
  display: block;
  font-weight: 500;
  line-height: 18px;
  color: var(--color-white);
  background-color: var(--color-soft-red);
  border: none;
  outline: none;
  border-radius: 3px;
  padding-top: 17px;
  padding-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-bright-red);
}

.button:active {
  background-color: var(--color-moderate-red);
  color: var(--color-white-opacity);
}

/* Services list */


.services {
  position: relative;
  padding-top: 80px;
  padding-bottom: 62px;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  list-style: none;
}

.service-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.service-item::before {
  content: "";
  width: 300px;
  height: 146px;
  background-image: url("../img/laptop.png");
  background-repeat: no-repeat;
  margin-bottom: 25px;
}

.service-item-apps::before {
  background-image: url("../img/smartphones.png");
}

.service-item-presentations::before {
  background-image: url("../img/flipchart.png");
}

.service-item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--color-black);
  margin: 0;
  margin-bottom: 16px;
}

.service-item p {
  width: 260px;
  flex-grow: 1;
  margin: 0;
  margin-bottom: 32px;
}

.service-button {
  display: block;
  width: 160px;
}

.apps-button {
  background-color: var(--color-strong-cyan);
}

.presentation-button {
  background-color: var(--color-soft-yellow);
}

.apps-button:hover {
  background-color: var(--color-lime-green);
}

.apps-button:active {
  background-color: var(--color-dark-cyan);
  color: var(--color-white-opacity);
}

.presentation-button:hover {
  background-color: var(--color-bright-orange);
}

.presentation-button:active {
  background-color: var(--color-vivid-orange);
  color: var(--color-white-opacity);
}

/* About */

.about {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 360px;
  grid-template-rows: auto auto auto 1fr;
  padding-top: 39px;
  padding-bottom: 75px;
}

.about-logo {
  grid-column: 2 / -1;
  grid-row: 1 / 3;
}

.about-description {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--color-black);
  width: 651px;
  margin: 34px 0;
}

.about-text {
  width: 646px;
  margin: 0;
  margin-bottom: 40px;
}

.about-services {
  width: 306px;
  grid-row: 3 / 4;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 23px;
}

.about-services-list {
  width: 437px;
  grid-column: 1 / 2;
  grid-row: 4 / -1;
  list-style: none;
}

.about-service-item {
  position: relative;
  padding-left: 36px;
  margin-bottom: 24px;
}

.about-service-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 11px;
  width: 25px;
  height: 2px;
  background-color: var(--color-soft-red);
}

.about-service-item:nth-last-of-type(1) {
  margin-bottom: 0;
}

.about-services-list p {
  margin: 0;
}

.about-features {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-black);
  text-align: center;
  margin: 0;
  margin-bottom: 23px;
}

.about-description-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 12px;
  margin: 0;
  padding-top: 6px;
}

.about-description-term {
  line-height: 18px;
}

.about-description-definition {
  grid-row: 1 / 2;
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: var(--color-black);
  margin: 0;
}

.percent {
  font-size: 26px;
  line-height: 40px;
  vertical-align: 35%;
}

/* Partners */

.partners {
  position: relative;
  margin-bottom: 80px;
}

.partners-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
  list-style: none;
}

.partner-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner-item::after {
  content: "";
  position: absolute;
  right: -21px;
  top: 64px;
  width: 2px;
  height: 52px;
  background-color: var(--color-extra-light-gray);
}

.partner-item:nth-child(4n)::after {
  display: none;
}

.logo-htmlacademy {
  padding-top: 63px;
  padding-bottom: 51px;
}

.logo-barbershop {
  padding: 46px 0;
}

.logo-pink {
  padding: 65px 0;
}

.logo-mishka {
  padding-top: 52px;
  padding-bottom: 46px;
}

.partner-item a {
  display: block;
  opacity: 0.2;
}

.partner-item a:hover {
  opacity: 1;
}

.partner-item a:active {
  opacity: 0.1;
}

/* Partition wall */

.services::after,
.about::after,
.partners::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-extra-light-gray);
}

/* Catalog */

.catalog-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--color-black);
  background-color: var(--color-extra-light-gray);
  text-align: center;
  margin: 0;
  padding-top: 78px;
  padding-bottom: 108px;
}

.catalog-container {
  display: grid;
  grid-template-columns: 260px 1fr;
  column-gap: 141px;
  padding-top: 55px;
  padding-bottom: 60px;
}

/* Filters*/

.filter ul {
  list-style: none;
}

.filter fieldset {
  border: none;
  padding: 0;
  margin-left: -1px;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-black);
}

.filter label,
.filter input {
  cursor: pointer;
}

/* Filter cost */

.filter-cost {
  margin-bottom: 54px;
}

.filter-cost legend {
  margin-bottom: 48px;
}

.filter-cost-range {
  width: 260px;
  margin-bottom: 14px;
  background-color: var(--color-extra-light-gray);
  border-radius: 3px;
}

.filter-cost-range button {
  cursor: pointer;
}

.filter-cost-output {
  line-height: 22px;
}

.filter-cost-output label {
  text-transform: uppercase;
  margin-right: 8px;
}

.filter-cost-input {
  width: 80px;
  background-color: var(--color-extra-light-gray);
  border: none;
  border-radius: 3px;
  padding: 10px 0;
  text-align: center;
}

.min-cost-input {
  margin-right: 28px;
}

/* Filters grid and specificities*/

.filter-grid {
  margin-bottom: 47px;
}

.filter-grid legend,
.filter-specificities legend  {
  margin-bottom: 13px;
}

.filter-specificities {
  margin-bottom: 48px;
}

.filter-grid-list,
.filter-specificities-list {
  line-height: 19px;
}

.filter-grid-input:disabled + label,
.filter-specificities-input:disabled + label {
  opacity: 0.3;
}

/* Filter button */

.filter-button {
  width: 260px;
  color: var(--color-black);
  background-color: var(--color-extra-light-gray);
  outline: none;
  border: none;
  cursor: pointer;
}

.filter-button:hover {
  background-color: var(--color-bright-gray);
}

.filter-button:active {
  color: var(--color-black-opacity);
  background-color: var(--color-light-gray);
  box-shadow: inset 0px 3px 0px var(--color-very-dark-cyan);
}

/* Templates */

.templates {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

/* Sort filter */

.sort-filter {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}

.sort {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.sort-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 266px;
}

.sort-list-item {
  margin-right: 25px;
}

.sort-list a {
  color: var(--color-black);
  opacity: 0.3;
}

.sort-list a:hover {
  opacity: 0.6;
}

.sort-list a:active,
.current-sort-list-item a {
  opacity: 1;
}

.sort-list-buttons {
  list-style: none;
}

/* Templates list */

.templates-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 32px 42px;
  list-style: none;
  margin-bottom: 55px;
}

.template-item {
  max-width: 358px;
}

.template-information {
  display: none;
  background-color: var(--color-extra-light-gray);
  padding-top: 26px;
  padding-bottom: 44px;
}

.template-title {
  display: block;
  margin-bottom: 12px;
  text-align: center;
  text-transform: uppercase;
}

.template-title h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: var(--color-black);
  margin: 0;
}

.template-price {
  width: 200px;
  margin: 0 auto;
}

.template-title:hover {
  color: var(--color-soft-red);
}

.template-title:active {
  color: var(--color-black-opacity);
}

.template-about {
  width: 255px;
  line-height: 18px;
  margin: 0 auto;
  margin-bottom: 32px;
  text-align: center;
  color: var(--color-very-dark-gray);
}

.template-price:active {
  color: var(--color-white);
}

/* Page toggle */

.page-toggle-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.page-toggle-button {
  width: 50px;
  color: var(--color-black);
  background-color: var(--color-extra-light-gray);
  margin-right: 11px;
  margin-bottom: 10px;
}

.next-page-button {
  width: 260px;
}

.page-toggle-button:hover {
  background-color: var(--color-bright-gray);
}

.page-toggle-button:active {
  color: var(--color-black-opacity);
  background-color: var(--color-bright-gray);
  box-shadow: inset 0px 3px 0px var(--color-very-dark-cyan);
}

.current-page-button {
  background-color: var(--color-transparent-black);
  outline: 3px solid var(--color-very-bright-gray);
  outline-offset: -3px;

}

/* Footer */

.map-container {
  position: relative;
  height: 416px;
  max-width: 1440px;
  margin: 0 auto;
}

.map-image {
  max-width: 1440px;
  height: 100%;
}

/* Contacts */

.contacts-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
}

.contacts-marker {
  position: relative;
  z-index: 2;
  width: 231px;
  height: 190px;
  right: 247px;
  top: -27px;
  background-image: url("../img/map-marker.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 231px 190px;
}

.contacts {
  position: relative;
  z-index: 2;
  width: 319px;
  background-color: var(--color-white);
  padding: 0 50px;
  padding-top: 49px;
  padding-bottom: 47px;
}

.contacts-site-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 23px;
}

.contacts-address {
  font-style: normal;
  line-height: 18px;
  color: var(--color-very-dark-gray);
  margin-bottom: 37px;
}

.contacts-location {
  margin: 0;
  margin-bottom: 18px;
}

.contacts-phone {
  margin: 0;
}

.contacts-phone a {
  color: inherit;
}

.contacts-button {
  width: 219px;
}

/* Social */

.social {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 10px 142px;
  padding: 69px 0;
}

.social-slogan {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  width: 660px;
  margin: 0;
  padding-top: 6px;
}

.social-desc {
  line-height: 22px;
  color: var(--color-extra-dark-gray);
  width: 373px;
  margin: 0;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  width: 258px;
  order: -1;
  grid-row: 1 / 3;
  list-style: none;
}

.social-media-item {
  width: 78px;
  height: 78px;
  margin-bottom: 10px;
  margin-right: 12px;
  background-color: var(--color-very-light-gray);
  border-radius: 50%;
}

.social-media-item:nth-child(3n) {
  margin-right: 0;
}

.social-button {
  display: block;
  height: 100%;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.vk-button {
  background-image: url("../img/vk-icon.svg");
  background-size: 26px 15px;
}

.facebook-button {
  background-image: url("../img/fb-icon.svg");
  background-size: 12px 22px;
}

.instagram-button {
  background-image: url("../img/insta-icon.svg");
  background-size: 21px 21px;
}

.social-button:active {
  opacity: 0.3;
}

.social-media-item:hover {
  background-color: var(--color-bright-red);
}

.social-media-item:active {
  background-color: var(--color-moderate-red);
}

/* Feedback */

.feedback {
  width: 960px;
  background-color: var(--color-white);
  box-shadow: 0px 20px 40px var(--color-black-more-opacity);
  padding-top: 63px;
  padding-left: 100px;
  padding-right: 90px;
}

.feedback-wrapper {
  display: flex;
  justify-content: space-between;
}

.feedback-slogan {
  font-size: 45px;
  font-weight: 700;
  line-height: 53px;
  color: var(--color-black);
  margin: 0;
  margin-bottom: 37px;
}

.close-button {
  width: 21px;
  height: 21px;
  outline: none;
  border: none;
  background-color: transparent;
  background-image: url("../img/close-cross.svg");
  background-position: 0 0;
  margin-top: 15px;
  opacity: 0.3;
  cursor: pointer;
}

.close-button:hover {
  opacity: 1;
}

.close-button:active {
  opacity: 0.1;
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
  width: 761px;
}

.feedback-item-name {
  margin: 0;
  margin-right: 40px;
  margin-bottom: 34px;
}

.feedback-item-email {
  margin: 0;
  margin-bottom: 34px;
}

.feedback-item-text {
  margin: 0;
  margin-bottom: 47px;
}

.feedback-item label {
  display: block;
  font-weight: 700;
  line-height: 18px;
  color: var(--color-black);
  margin-bottom: 9px;
  cursor: pointer;
}

.feedback-item input {
  width: 360px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--color-light-black);
  border: 2px solid var(--color-light-grayish-blue);
  border-radius: 3px;
  padding: 14px 0;
  padding-left: 14px;
}

.feedback-item input::placeholder,
.feedback-item textarea::placeholder {
  color: var(--color-extra-dark-gray);
  opacity: 0.5;
}

.feedback-item input:hover,
.feedback-item textarea:hover {
  border-color: var(--color-grayish-blue);
}

.feedback-item input:focus,
.feedback-item textarea:focus {
  color: var(--color-black);
}

.feedback-item input:focus::placeholder,
.feedback-item textarea:focus::placeholder {
  opacity: 1;
}

/*.feedback input:invalid,
.feedback textarea:invalid {
  border-color: var(--color-bright-red);
  color: var(--color-bright-red);
}*/

.feedback-item textarea {
  display: block;
  width: 760px;
  height: 118px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--color-light-black);
  resize: none;
  border: 2px solid var(--color-light-grayish-blue);
  border-radius: 3px;
  padding-top: 14px;
  padding-left: 14px;
}

.feedback-button {
  width: 259px;
}

